FlexImage.WebService/FlexImage.WSDocument/Web References/DocumentWebReference/DocumentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://impl.service.flexps.flexdoc.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://service.flexps.flexdoc.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" name="DocumentService" targetNamespace="http://impl.service.flexps.flexdoc.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://service.flexps.flexdoc.com.br/" location="http://192.168.1.124:8080/flexpsService/DocumentService?wsdl=DocumentService.wsdl" />
  <wsdl:types />
  <wsdl:binding name="DocumentServiceSoapBinding" type="ns1:DocumentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ackPending">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ackPending">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ackPendingResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="rePrintReceipt">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="rePrintReceipt">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="rePrintReceiptResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setTifDocumentFTransmittedBackDetached">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setTifDocumentFTransmittedBackDetached">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setTifDocumentFTransmittedBackDetachedResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocsId">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDocsId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDocsIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReceiptByBatch">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getReceiptByBatch">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReceiptByBatchResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestTifBackDetached">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="requestTifBackDetached">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requestTifBackDetachedResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateValDocument">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateValDocument">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateValDocumentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ackException">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ackException">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ackExceptionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBatchFToReceipt">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getBatchFToReceipt">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getBatchFToReceiptResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocument">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDocument">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDocumentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPendingBySite">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getPendingBySite">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPendingBySiteResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestJpgDetached">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="requestJpgDetached">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requestJpgDetachedResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="printReceipt">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="printReceipt">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="printReceiptResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestJpgBackDetached">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="requestJpgBackDetached">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requestJpgBackDetachedResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setJpgDocumentFTransmittedFront">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setJpgDocumentFTransmittedFront">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setJpgDocumentFTransmittedFrontResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="printRibbonByBatch">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="printRibbonByBatch">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="printRibbonByBatchResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mountTrans">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="mountTrans">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="mountTransResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setJpgTransmittedFrontDetached">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setJpgTransmittedFrontDetached">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setJpgTransmittedFrontDetachedResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setJpgDocumentFTransmittedBack">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setJpgDocumentFTransmittedBack">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setJpgDocumentFTransmittedBackResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setJpgDocumentFTransmittedBackDetached">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setJpgDocumentFTransmittedBackDetached">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setJpgDocumentFTransmittedBackDetachedResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestJpgBack">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="requestJpgBack">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requestJpgBackResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="recapture">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="recapture">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="recaptureResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestJpg">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="requestJpg">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requestJpgResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDocumentLog">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDocumentLog">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDocumentLogResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reclassify">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="reclassify">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="reclassifyResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editDocument">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="editDocument">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="editDocumentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentService">
    <wsdl:port name="DocumentServiceImplPort" binding="tns:DocumentServiceSoapBinding">
      <soap:address location="http://flexps.corp.flexdoc.com.br:8080/flexpsService/DocumentService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>