FlexImage.WebService/FlexImage.WSSecurity/Web References/SecurityWebReference/SecurityService0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://impl.service.flexps.flexdoc.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://service.flexps.flexdoc.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" name="SecurityService" targetNamespace="http://impl.service.flexps.flexdoc.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://service.flexps.flexdoc.com.br/" location="http://192.168.2.5:8080/flexpsService/SecurityService?wsdl=SecurityService.wsdl" />
  <wsdl:types />
  <wsdl:binding name="SecurityServiceSoapBinding" type="ns1:SecurityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logoff">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="logoff">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="logoffResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="authenticUsr">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="authenticUsr">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="authenticUsrResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="login">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findModuleByUsrGroupsId">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findModuleByUsrGroupsId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findModuleByUsrGroupsIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getModulesXML">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getModulesXML">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getModulesXMLResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRandomSaltKey">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRandomSaltKey">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRandomSaltKeyResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FlexpsException">
        <soap:fault use="literal" name="FlexpsException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityService">
    <wsdl:port name="SecurityServiceImplPort" binding="tns:SecurityServiceSoapBinding">
      <soap:address location="http://192.168.2.5:8080/flexpsService/SecurityService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>